#txt文件处理方法，先转化为列表再转化为array
filename= 'array_reflection_2D_TM_vertical_normE_center.txt' # txt文件和当前脚本在同一目录下，所以不用写具体路径

pos= []

Efield= []

withopen(filename,'r') as file_to_read:

while True:

lines= file_to_read.readline()# 整行读取数据

if not lines:

break

pass

p_tmp, E_tmp= [float(i)for iin lines.split()]# 将整行数据分割处理，如果分割符是空格，括号里就不用传入参数，如果是逗号， 则传入"，'字符。

pos.append(p_tmp)# 添加新读取的数据

Efield.append(E_tmp)

pass

pos= np.array(pos)# 将数据从list类型转换为array类型。

Efield= np.array(Efield)

pass

In [122]:
import numpy as np
import pandas as pd
filename='F:/BDCI竞赛/剧本角色情感识别/train_dataset.tsv'#文件地址
train_data=[]
with open(filename,'r',encoding='utf-8-sig') as file_to_read:
     for line in file_to_read:
        train_data.append(list(line.strip().split()))
        

train_data=pd.DataFrame(train_data)

In [127]:
#替换空值所在的行
train_data[3] = train_data[3].fillna(value='0,0,0,0,0,0')
train_data[2] = train_data[2].fillna(value='no character')

In [130]:
#设置列索引
train_data.columns=train_data.iloc[0].values#将第一行的value作为train_data列表的索引值
train_data=train_data.drop(0)#删除第一行数据
train_data=train_data.reset_index(drop=True)#重置索引为真

In [133]:
#存入excel中
train_data.to_excel('F:/BDCI竞赛/剧本角色情感识别/train_data.xlsx')

In [138]:
train_data

,id,content,character,emotions
0,1171_0001_A_1,天空下着暴雨，o2正在给c1穿雨衣，他自己却只穿着单薄的军装，完全暴露在大雨之中。,o2,"0,0,0,0,0,0"
1,1171_0001_A_2,天空下着暴雨，o2正在给c1穿雨衣，他自己却只穿着单薄的军装，完全暴露在大雨之中。,c1,"0,0,0,0,0,0"
2,1171_0001_A_3,o2一手拿着一个行李，一路小跑着把c1带到了文工团门口。,o2,"0,0,0,0,0,0"
3,1171_0001_A_4,o2一手拿着一个行李，一路小跑着把c1带到了文工团门口。,c1,"0,0,0,0,0,0"
4,1171_0001_A_5,o2停下来接过c1手里的行李：你妈妈交待我了，等领了军装一定要照张相寄回去，让街坊邻居都知道...,o2,"0,0,0,0,0,0"
...,...,...,...,...
42890,34949_0180_A_1450,x2的未婚夫手捧大束玫瑰花在寻找x2。,x2,"0,0,0,0,0,0"
42891,34949_0180_A_1458,f1看看表：过了五分钟。他从口袋里掏出药盒，倒出药：一片，两片，半片。,f1,"0,3,0,0,0,0"
42892,34949_0180_A_1459,b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...,b1,"2,3,0,0,0,0"
42893,34949_0180_A_1460,b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...,c1,"2,3,0,0,0,0"
42894,34949_0180_A_1463,b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...,n1,"0,0,0,0,0,0"

In [140]:
emotions=train_data['emotions']

In [156]:
emotion=[]
for i in range(len(emotions)):
    emotion.append(list(emotions[i].split(',')))

In [177]:
emotion=pd.DataFrame(emotion)

In [178]:
emotion

       0  1  2  3  4  5
0      0  0  0  0  0  0
1      0  0  0  0  0  0
2      0  0  0  0  0  0
3      0  0  0  0  0  0
4      0  0  0  0  0  0
...   .. .. .. .. .. ..
42890  0  0  0  0  0  0
42891  0  3  0  0  0  0
42892  2  3  0  0  0  0
42893  2  3  0  0  0  0
42894  0  0  0  0  0  0

[42895 rows x 6 columns]

In [180]:
#设置列索引
emotion.columns=['e1', 'e2', 'e3', 'e4', 'e5', 'e6']

In [181]:
emotion

      e1 e2 e3 e4 e5 e6
0      0  0  0  0  0  0
1      0  0  0  0  0  0
2      0  0  0  0  0  0
3      0  0  0  0  0  0
4      0  0  0  0  0  0
...   .. .. .. .. .. ..
42890  0  0  0  0  0  0
42891  0  3  0  0  0  0
42892  2  3  0  0  0  0
42893  2  3  0  0  0  0
42894  0  0  0  0  0  0

[42895 rows x 6 columns]

In [184]:
train_data = pd.concat([train_data,emotion],axis=1)#按列合并新的emotion

In [190]:
train_data=train_data.drop(['emotions'],axis=1)#删除原来的emotions

In [194]:
train_data

,id,content,character,e1,e2,e3,e4,e5,e6
0,1171_0001_A_1,天空下着暴雨，o2正在给c1穿雨衣，他自己却只穿着单薄的军装，完全暴露在大雨之中。,o2,0,0,0,0,0,0
1,1171_0001_A_2,天空下着暴雨，o2正在给c1穿雨衣，他自己却只穿着单薄的军装，完全暴露在大雨之中。,c1,0,0,0,0,0,0
2,1171_0001_A_3,o2一手拿着一个行李，一路小跑着把c1带到了文工团门口。,o2,0,0,0,0,0,0
3,1171_0001_A_4,o2一手拿着一个行李，一路小跑着把c1带到了文工团门口。,c1,0,0,0,0,0,0
4,1171_0001_A_5,o2停下来接过c1手里的行李：你妈妈交待我了，等领了军装一定要照张相寄回去，让街坊邻居都知道...,o2,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
42890,34949_0180_A_1450,x2的未婚夫手捧大束玫瑰花在寻找x2。,x2,0,0,0,0,0,0
42891,34949_0180_A_1458,f1看看表：过了五分钟。他从口袋里掏出药盒，倒出药：一片，两片，半片。,f1,0,3,0,0,0,0
42892,34949_0180_A_1459,b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...,b1,2,3,0,0,0,0
42893,34949_0180_A_1460,b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...,c1,2,3,0,0,0,0
42894,34949_0180_A_1463,b1转脸朝前走。突然站住了，他看见自己的前妻，c1领着女儿g3站在前面。他过去，三人紧紧拥在...,n1,0,0,0,0,0,0

In [197]:
train_data.to_excel('F:/BDCI竞赛/剧本角色情感识别/train_data.xlsx')#保存我excel